* {
  font-family: 'Roboto', sans-serif;

}

/* Header */

#barra-superior {
  background-color: #222222;
  color: #F3F3F3;
  font-size: 0.625rem;
  height: 1.25rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-left: 5.625rem;
  padding-right: 3.125rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav {
  font-size: 0.8125rem;
  color: #FFFFFF;
  gap: 1.25rem;
}

#barra-inferior {
  background-color: #F0A83E;
  height: 3.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

#logo-header {
    font-size: 1.25rem;
    display: inline-block;
}

.p-front-header {
  font-weight: bold;
  font-size: 1.25rem;
  color: #3C2313;
} 

.p-catdog-header {
  font-weight: bold;
  font-size: 1.25rem;
  color: #FFFFFF;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section.banner {
  display: flex;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: center;
  height: 24.5rem;
  width: 100%;
  justify-content: flex-end;
}

#texto-banner {
  display: flex;
}

h1 {
  display: flex;
  font-size: 1.875rem;
  font-weight: 300;
  background-color: #FFFFFF;
  position: absolute;
  border-radius: 0.3rem;
  right: 1.5rem;
  top: 11.5rem;
  padding: 0.5rem;
}

#comederos-descuento {
  position: absolute;
  font-size: 1rem;
  top: 18rem;
  right: 6.5rem;
}

button.comederos {
  position: absolute;
  justify-content: center;
  color: #FFFF;
  background-color: #F0A83E;
  border: none;
  height: 2.935rem;
  width: 8.8125rem;
  top: 21rem;
  right: 7rem;
}

#imagen-pata {
  margin-top: 2rem;
}

#sector-productos {
  display: flex;
  justify-content: space-around;
  gap: 1.25rem;
}

#sector-productos img {
  height: 19.5rem;
  width: 16.5rem;
  margin-top: 3rem;
}

#sector-contactanos {
  display: flex;
  height: 16.5rem;
  /* width: 21.25rem; */
  margin-top: 4rem;
  flex-direction: column;
}

#h2-contactanos {
  color: #3C2313;
  font-size: 1.563rem;
  margin: 0;
}

/* #form-contactanos {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
} */

.campo-contactanos {
  display: flex;
  background-color: #3C2313;
  height: 2.5rem;
  width: 21.25rem;
  color: #FFFFFF;
  font-size: 0.5625rem;
  border-radius: 0.938rem;
  border: none;
  padding-left: 0.5rem;
}

.boton-form {
  display: inline-block;
  height: 2.125rem;
  width: 6.875rem;
  border-radius: 0.9375rem;
  border: none;
  color: #FFFFFF; 
  margin-top: 0.7rem;
  margin-left: 0.5rem;
  font-weight: 300;
}

.resetear {
  background-color: #8A8787;
}

.enviar {
  background-color: #F0A83E;
}

/* Footer */

/* Barra newsletter */

footer {
  align-items: center;
  text-align: center;
}


.newsletter {
  display: flex;
  background-color: #F0A83E;
  color: #FFFF;
  height: 3.75rem;
  margin-top: 4.5rem;
  padding-left: 1.25rem;
  gap: 1rem;
  font-size: 1.25rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newsletter article {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

#sobre {
  height: 2rem;
  width: 3.5rem;
}

#footer-form {
  display: flex;

}

#form-footer-y-boton {
  margin-right: 2.938rem;
}

.campo-footer {
  display: flex;  
  align-self: center;
  height: 2.5rem;
  width: 16.938rem;
  font-size: 0.563rem;
  background-color: #FFFFFF;
  color: #A0A0A0;
  border-radius: 0.938rem;
  border: none;
  margin-right: 0.3125rem;
}

.boton-form-suscribirme {
  display: flex;  
  align-self: center;
  width: 4.375rem;
  height: 2.125rem;
  font-size: 0.563rem;
  background-color: #3C2313;
  color: #FFFFFF;
  border: none;
  border-radius: 0.938rem;
  justify-content: center;

}

/* Sector datos Petshop */

.datos-contacto {
  background-color: #3C2313;
  color: #FFFF;
  display: flex;
}


#datos-contacto {
  display: flex;
  flex-direction: column;
  background-color: #3C2313;
  height: 18rem;
  align-content: center;
}

.info {
  display: flex;
  align-items: flex-end;
  align-content: center;
  padding-left: 3rem;
  padding-top: 1.25rem;
  gap: 0.5rem;
}

.icono {
  height: 4rem;
  width: 4rem;
}
.info div {
  flex-direction: column;
  text-align: left;
}

h3 {
  font-size: 1.25rem;
  color: #FFFFFF;
  margin: 0;
}

.datos {
  color: #8A8787;
  font-size: 0.625rem;
}


#logo-footer {
  display: inline-block;
  padding-left: 40rem;
  top: 40rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.p-front-footer {
  color: #FFFFFF;
} 

.p-catdog-footer {
  color: #F0A83E;
}

#derechos {
  background-color: #222222;
  color: #FFFFFF;
  font-size: 0.6rem;
  height: 1.25rem;
  font-weight: bold;
  vertical-align: middle;
}

/* Media */

@media (max-width: 640px) {
  
  #barra-superior {
    display: none;
  }

  main {
    justify-content: center;
  }

  ul {
    display: none;
  }

  input:checked  ~ ul {
    display: block;
  }

  input {
    display: none;
  }

  label {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }

  li {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
  }


  h1 {
    right: 0.6rem;
  }

  #comederos-descuento {
    right: 3.5rem
  }

  button.comederos {
  top: 21rem;
  right: 5rem;

  }

  #sector-productos {
    flex-direction: column;
  }

  .campo-contactanos {
    height: 2.5rem;
    width: 18.625rem;
  }

  .newsletter {
    height: 6.313rem;
    flex-wrap: wrap;
    gap: 0;
    padding: 0;
    justify-content: center;
    font-size: 1.1rem;
    padding-bottom: 1rem;
  }
  
  .newsletter article {
    gap: 0;
  }
  
  #sobre {
    height: 1.5rem;
    width: 2rem;
  }
  
  .campo-footer {
    width: 14rem;
    height: 2rem;
  }

  .boton-form-suscribirme {
    width: 4rem;
    height: 2rem;
  }
  
  #form-footer-y-boton {
    margin: 0;
  }

  #logo-footer {
    padding: 0;
  }
}

@media (min-width: 641px) {
  label, input {
  display: none;
  }
}
