html {
    font-size: 10px;
}
/* Body */


body {
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
}

#descuentos, #super-heroes {
    padding-left: 1rem;
}

#descuentos {
    background-color: #D1891C;
    color: #333333;
    font-size: 1.333rem;
    /* height: 1.694rem; */
    
}

#super-heroes {
    background-color: #00669F;
    box-shadow: 0rem 0.3rem 1rem rgba(0,0,0, 0.5);
    /* height: 4.5rem; */
    /* position: fixed; */
}

h1 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 300;
}

/* Main */


main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

 .fa-plus-circle {
    display: flex;
    position: fixed;
    top: 50%;
    right: 2rem;
    color: #00669F;
}

section {
    background-color: #F3F3F3;
    margin: 2rem;
    height: 37.9rem;
    width: 22.36rem;
    border-radius: 1rem;
    display: inline-block
}

article {
    display: flex;
    flex-direction: column;

}

.fa-heart {
    color: #CC2424;
    font-size: 1.86rem;
    position: absolute;
    z-index: 1;
    margin: 1.4rem;

}

.foto-perfil {
    position: absolute;
    margin: 7.5rem 5rem;
    z-index: 1;
    border-radius: 50rem;
    width: 11rem;
    height: 11rem;
}

.foto-fondo {
    max-width: 22.38rem;
    height: 13.68rem;
    border-radius: 1rem 1rem 0 0;
}

h2 {
    padding-top: 4.5rem;
    text-align: center;
    font-weight: 400;
}

p {
    align-self: center;
    text-align: justify;
    margin: 0rem 1.5rem 1rem 1.5rem;
    font-size: 1rem;
}

button {
    align-self: center;
    color: #F3F3F3;
    background-color: #00669F;
    font-size: 1rem;
    width: 9.611rem;
    height: 3.167rem;
    border-radius: 0.20rem;

}
/* Footer */

footer {
    background-color: #00669F;
    display: flex;    
    justify-content: space-around;
    align-items: center;
    line-height: 4.5rem;
    flex-wrap: wrap;

}

#derechos {
    display: flex;
    color: #FFF9F9;
}

#logo-github {
    position: relative;
    height: 1.5rem;
    width: 6.8rem;
}

/** Media Queries **/

/* Screen */

@media (min-width: 450px) {
    footer {
        padding-left: 28%;
    }
}


/** Tablet **/

@media (max-width:800px) {
    main {
        justify-content: center;
    }
}

/** Smartphones **/

@media (max-width:350px) {
   main {
    justify-content: center;
   }
}