body {
    font-family: 'Roboto', sans-serif;
}

/* Header */

div.primera-barra {
    background-color: #222222;
    background-size: cover;
    color: #FFFFFF;
}


nav.segunda-barra {
    background-color: #F0A83E;
    background-size: cover;
}

span.front {
    color: #3C2313;
}

span.cat-dog {
    color: #FFFFFF;
}

ul#lista-nav {
    color:#FFFFFF;
}

/* main */

section.sector-foto {
    background-image: url(../img/fotoPrincipal.jpg);
    background-size: 3000px;
    background-repeat: no-repeat;
    padding-bottom: 1000px;
}

#boton-comederos {
    margin-left: 48%;
    background-color: #F0A83E;
    color: #FFFFFF;
    border: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3.productos-destacados {
    text-align: center;
}

p.precio {
    color: #F0A83E;
}

/* Footer */

section.footer-marron {
    background-color: #3C2313;
    background-size: cover;
}

p.datos-vet {
    color: #FFFFFF;
}

p.subdatos-vet {
    color: #FFFFFF;
}

span.front2 {
    color: #FFFFFF;
}

span.cat-dog2 {
    color: #F0A83E;
}

#derechos {
    background-color: #F0A83E;
    text-align: center;
    color: #FFFFFF;
    line-height: 20px;
}